APP_ENV=local
ONE_FRAME_TOKEN_LOCAL=10dc303535874aeccc86a8251e6992f5
ONE_FRAME_TOKEN_DEV=replace-dev-token
ONE_FRAME_TOKEN_STG=replace-stg-token
ONE_FRAME_TOKEN_PROD=replace-prod-token
REDIS_PASSWORD=redis-local-token
